body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
  background-size: 125% 125%;
}

.gap {
    width: 100%;
    height: 160px;
}

.gap2 {
    width: 100%;
    height: 70px;
}